:root {
  --primary-color: #388e3c;
  --primary-light-color: #6abf69;
  --primary-dark-color: #317c34;
  --primary-dark-color5: rgba(49, 124, 52, 0.05);
  --success-color: #1bb55c;
  --error-color: #f44336;

  --default-inactive-color: #c1c1c1;
  --default-inactive-color20: rgba(193, 193, 193, 0.2);

  --font-default-dark-color: #263238;
  --font-weight-semibold: 600;

  --margin-default: 16px;
  --margin-related-items: 8px;
  --margin-related-text: 4px;
  --margin-spacer: 32px;

  --padding-default: 16px;
  --padding-inner-items: 8px;

  --header-height: 56px;
}



html,
body,
#root {
  height: 100%;
  overflow: hidden;
  color: var(--font-default-dark-color);
}

.App {
  text-align: center;
}

.MuiChip-outlined.rounded-chip {
  border-radius: 8px;
}

.MuiChip-outlined.rounded-chip.inactive-chip {
  border-color: var(--default-inactive-color);
  background-color: var(--default-inactive-color20);
}

.MuiChip-outlined.rounded-chip.primary-chip {
  border-color: var(--primary-dark-color);
  color: var(--primary-dark-color);
  background-color: var(--primary-dark-color5);
  font-weight: 600;
}
