.continue {
  height: 100%;
}

.continue .continue-scroll {
  height: 100%;
  overflow: auto;
}

.continue .continue-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-width: 600px;
  width: 30%;
  padding: 90px;
  gap: var(--margin-spacer);
}

.continue .continue-content .fields {
  width: 100%;
}

.continue .continue-content .date-picker,
.continue .continue-content .date-picker .MuiTextField-root {
  width: 100%;
}

.continue .continue-content h1 {
  margin: 0;
  font-size: 48px;
}

.continue .continue-content p {
  text-align: justify;
}

.continue .continue-content .button {
  height: 48px;
  width: 100%;
}
