#step4-content {
  display: flex;
  flex-direction: column;
  gap: var(--margin-default);
}

#step4-content .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--margin-spacer);
}

#step4-content .column-text {
  flex-basis: 33%;
}

#step4-content .column-text p {
  margin: 0;
}

#step4-content .column-text p .subtext {
  font-size: 12px;
}
