#header {
  height: var(--header-height);
  overflow: hidden;
  border-bottom: 2px solid var(--default-inactive-color);
}


#header header {
  /* display: flex; use a flex container */
  display: flex;
  flex-direction: row;
}
