#header {
  min-height: var(--header-height);
  overflow: hidden;
  border-bottom: 2px solid var(--default-inactive-color);
}

#header header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--margin-default);
  padding: 0 var(--padding-default) 0 var(--padding-default);
}

#header header .registration-code {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--margin-default);
}

#header header h3 {
  flex-grow: 999;
}
