#register-page #sidebar {
  display: flex;
  flex-direction: column;
  width: 524px;
  border-left: 2px solid var(--default-inactive-color);
}

#sidebar .sidebar-content {
  padding: var(--padding-default);
  border-bottom: 2px solid var(--default-inactive-color);
}

#sidebar .submit-button {
  width: 100%;
  margin-top: var(--margin-default);
}

#sidebar hr {
  border: 1px solid var(--default-inactive-color);
}

#sidebar h2 {
  margin: 0;
  font-size: 34px;
}

#sidebar .sidebar-scroll-content {
  flex-grow: 1;
  overflow: scroll;
}

#sidebar .sidebar-status-content {
  padding: var(--padding-default);
}
